[submodule "content/wallpapers/img/wallpapers"]
	path = content/wallpapers/img/wallpapers
	url = https://git.disroot.org/gaspar/wallpapers.git
[submodule "content/wallpapers/img/themes"]
	path = content/wallpapers/img/themes
	url = https://git.disroot.org/gaspar/themes.git
