<link rel="stylesheet" href="/woff2/IBMPlexMono-Bold.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-BoldItalic.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-ExtraLight.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-ExtraLightItalic.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-Italic.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-Light.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-LightItalic.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-Medium.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-MediumItalic.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-Regular.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-SemiBold.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-SemiBoldItalic.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-Text.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-TextItalic.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-Thin.css" />
<link rel="stylesheet" href="/woff2/IBMPlexMono-ThinItalic.css" />

<style>
body {
	font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono',
	'Bitstream Vera Sans Mono', Courier, monospace;
}

.copyright {
	text-align: right;
}
</style>
